.ipynb_checkpoints/new_ef_logreg-checkpoint.ipynb
.ipynb_checkpoints/new_obj_logreg-checkpoint.ipynb
.ipynb_checkpoints/old_ef_logreg-checkpoint.ipynb
old_ef_logreg.ipynb
new_obj_logreg.ipynb
new_ef_logreg.ipynb
